# describe_duration.ipynb

This notebook provides descriptive statistics (median and IQR) of the duration of sick notes associated with long COVID.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
from pathlib import Path
import seaborn as sns

from functools import reduce
from glob import glob

pd.options.mode.chained_assignment = None

## Import and Clean Data

In [2]:
# Function to parse string
def find_nth(haystack, needle, n):
    start = haystack.find(needle)
    while start >= 0 and n > 1:
        start = haystack.find(needle, start+len(needle))
        n -= 1
    return start

In [3]:
# Read in and append input files
li = []

for file in glob('../output/cohorts/cohort_rates*.dta'):
    df_temp = pd.read_stata(file)
    # Creates date variable based on file name
    df_temp['cohort'] = file[find_nth(file, '_', 2)+1:-4]
    # Create population count
    df_temp['population'] = 1
    li.append(df_temp)
    
df_input = pd.concat(li, axis=0, ignore_index=False).reset_index(drop=True)

In [4]:
# Do not count those who had sick notes beyond end dates
df_input.loc[df_input.sick_note == 0, 'first_sick_note_duration'] = np.nan

In [5]:
# Columns to subset
subset_cols = ['cohort','age_group','sex',
               'ethnicity','imd','region_string',
               'first_sick_note_duration',
               'sick_note','population']

# Subset to relevant columns and do not count those beyond 
df_clean = df_input[subset_cols].rename(columns={'region_string':'region'})

_____

## Median & Mean

In [6]:
def compute_med_mean(path, demo=''):
    groups = ['cohort']
    if demo != '': 
        groups = ['cohort', demo]
    df_pct_ct = df_clean.groupby(
        groups)[['sick_note','population']].sum().reset_index()
    df_med = df_clean.groupby(
        groups)[['first_sick_note_duration']].apply(np.nanmedian).reset_index().rename(columns={0:'median_duration'})
    df_mean = df_clean.groupby(
        groups)[['first_sick_note_duration']].apply(np.nanmean).reset_index().rename(columns={0:'mean_duration'})
    df_pct25 = df_clean.groupby(
        groups)[['first_sick_note_duration']].apply(lambda x: np.nanpercentile(x,25)).reset_index().rename(columns={0:'pct_25'})
    df_pct75 = df_clean.groupby(
        groups)[['first_sick_note_duration']].apply(lambda x: np.nanpercentile(x,75)).reset_index().rename(columns={0:'pct_75'})
    dfs = [df_pct_ct, df_med, df_mean, df_pct25, df_pct75]
    df_out = reduce(
        lambda left,right: pd.merge(left,right,on=groups), dfs
    )
    Path("../output/tabfig/").mkdir(parents=True, exist_ok=True)
    df_out.to_csv('../output/tabfig/' + path + '.csv', index=False)
    return df_out

In [7]:
# Overall
compute_med_mean('med_mean_overall')

,cohort,sick_note,population,median_duration,mean_duration,pct_25,pct_75
0,covid_2020,831.0,1381,272.0,281.884337,223.00,324.0
1,general_2019,4552.0,10000,272.0,276.043077,224.00,322.0
2,general_2020,6315.0,10000,271.0,275.224072,224.25,319.0
3,pneumonia_2019,193.0,457,274.5,277.255208,223.75,318.0

In [8]:
# Age group
compute_med_mean('med_mean_age_group', 'age_group')

,cohort,age_group,sick_note,population,median_duration,mean_duration,pct_25,pct_75
0,covid_2020,0-17,98.0,161,259.5,267.387755,211.25,314.50
1,covid_2020,18-24,87.0,147,271.5,280.755814,217.75,329.75
2,covid_2020,25-34,100.0,170,265.5,280.670000,230.50,316.50
3,covid_2020,35-44,82.0,146,274.0,271.634146,231.75,308.25
4,covid_2020,45-54,148.0,242,271.5,293.047297,221.00,339.25
5,covid_2020,55-69,151.0,253,277.0,278.576159,231.50,316.50
6,covid_2020,70-79,82.0,138,284.0,283.890244,218.25,331.75
7,covid_2020,80+,83.0,124,274.0,295.891566,227.00,342.00
8,general_2019,0-17,433.0,967,261.0,265.161663,217.00,319.00
9,general_2019,18-24,451.0,978,265.0,266.000000,218.25,307.00
10,general_2019,25-34,427.0,1000,277.0,285.805621,228.50,323.50
11,general_2019,35-44,472.0,1037,275.0,276.173729,227.00,322.00
12,general_2019,45-54,954.0,2054,272.0,276.404612,226.00,322.00
13,general_2019,55-69,938.0,2048,275.5,280.156716,224.00,326.00
14,general_2019,70-79,441.0,953,274.0,278.253968,227.00,323.00
15,general_2019,80+,436.0,963,270.0,275.634483,218.00,325.50
16,general_2020,0-17,681.0,1100,271.0,273.077941,223.75,320.00
17,general_2020,18-24,602.0,989,272.0,275.920266,222.00,326.00
18,general_2020,25-34,668.0,1037,272.5,279.344311,229.75,320.25
19,general_2020,35-44,610.0,954,271.0,274.311475,227.00,320.00
20,general_2020,45-54,1245.0,1964,275.0,281.140675,227.75,322.00
21,general_2020,55-69,1219.0,1940,268.0,273.556837,221.25,316.00
22,general_2020,70-79,644.0,1004,273.0,271.122862,225.50,312.00
23,general_2020,80+,646.0,1012,265.0,269.248062,218.00,318.00
24,pneumonia_2019,0-17,19.0,45,319.0,313.789474,254.00,358.50
25,pneumonia_2019,18-24,21.0,49,259.0,264.000000,208.75,297.25
26,pneumonia_2019,25-34,20.0,41,272.0,279.950000,178.50,305.00
27,pneumonia_2019,35-44,17.0,43,249.0,250.764706,238.00,283.00
28,pneumonia_2019,45-54,41.0,105,270.0,278.365854,224.00,310.00
29,pneumonia_2019,55-69,41.0,85,293.0,284.902439,227.00,313.00
30,pneumonia_2019,70-79,15.0,47,251.0,209.466667,132.50,276.00
31,pneumonia_2019,80+,19.0,42,301.0,310.157895,244.50,361.50

In [9]:
# Sex
compute_med_mean('med_mean_sex', 'sex')

,cohort,sex,sick_note,population,median_duration,mean_duration,pct_25,pct_75
0,covid_2020,F,419.0,687,270.0,282.885167,223.00,325.00
1,covid_2020,M,412.0,694,276.0,280.868932,224.00,323.25
2,general_2019,F,2365.0,5143,272.0,277.201439,223.00,322.00
3,general_2019,M,2187.0,4857,273.0,274.791495,224.50,322.00
4,general_2020,F,3155.0,5008,271.0,276.410476,227.00,320.00
5,general_2020,M,3160.0,4992,271.0,274.039924,222.00,318.25
6,pneumonia_2019,F,92.0,212,273.0,275.163043,223.75,311.25
7,pneumonia_2019,M,101.0,245,275.5,279.180000,223.00,320.25

In [10]:
# Ethnicity
compute_med_mean('med_mean_ethnicity', 'ethnicity')

,cohort,ethnicity,sick_note,population,median_duration,mean_duration,pct_25,pct_75
0,covid_2020,White,475.0,821,273.0,286.305907,225.00,330.75
1,covid_2020,Asian or Asian British,78.0,101,264.0,273.294872,218.00,334.00
2,covid_2020,Other,64.0,110,256.0,257.234375,213.25,291.00
3,covid_2020,Unknown,214.0,349,278.5,282.593458,230.25,319.75
4,general_2019,White,2670.0,5956,273.0,277.850131,224.00,323.00
5,general_2019,Asian or Asian British,349.0,772,276.0,273.994269,228.00,324.00
6,general_2019,Other,361.0,772,276.0,269.235457,232.00,325.00
7,general_2019,Unknown,1172.0,2500,268.0,274.633646,221.00,316.00
8,general_2020,White,3769.0,5955,270.0,274.888889,224.00,317.00
9,general_2020,Asian or Asian British,495.0,785,269.5,274.813765,223.00,323.00
10,general_2020,Other,478.0,760,273.5,275.633891,229.00,324.00
11,general_2020,Unknown,1573.0,2500,274.0,276.030534,225.00,322.00
12,pneumonia_2019,White,118.0,283,275.0,276.324786,209.00,312.00
13,pneumonia_2019,Asian or Asian British,13.0,33,216.0,246.769231,96.00,390.00
14,pneumonia_2019,Other,12.0,25,312.0,324.666667,292.25,367.25
15,pneumonia_2019,Unknown,50.0,116,271.5,275.980000,244.25,310.00

In [11]:
# IMD
compute_med_mean('med_mean_imd', 'imd')

,cohort,imd,sick_note,population,median_duration,mean_duration,pct_25,pct_75
0,covid_2020,0,52.0,77,277.5,275.403846,227.50,306.75
1,covid_2020,1,158.0,281,272.5,280.088608,219.25,318.50
2,covid_2020,2,153.0,242,271.0,280.052288,224.00,323.00
3,covid_2020,3,144.0,240,278.5,293.076389,232.25,345.25
4,covid_2020,4,158.0,269,259.5,271.588608,206.25,317.75
5,covid_2020,5,166.0,272,272.0,287.436364,229.00,331.00
6,general_2019,0,239.0,520,267.0,277.041841,229.00,319.00
7,general_2019,1,819.0,1866,270.0,272.373317,217.00,316.00
8,general_2019,2,850.0,1892,269.0,272.556471,222.00,317.00
9,general_2019,3,904.0,1873,271.5,276.719027,226.00,324.00
10,general_2019,4,894.0,1967,278.0,282.544743,227.00,331.00
11,general_2019,5,846.0,1882,274.0,275.215130,226.00,321.00
12,general_2020,0,325.0,505,271.0,276.095385,217.00,321.00
13,general_2020,1,1203.0,1872,266.0,270.159734,223.00,312.00
14,general_2020,2,1208.0,1897,271.0,275.673571,222.50,321.00
15,general_2020,3,1225.0,1927,272.5,277.159574,226.00,322.00
16,general_2020,4,1171.0,1877,271.0,273.848718,227.00,318.00
17,general_2020,5,1183.0,1922,274.0,279.042373,225.00,321.25
18,pneumonia_2019,0,6.0,13,167.0,209.666667,107.25,305.50
19,pneumonia_2019,1,37.0,86,261.0,260.805556,207.25,310.25
20,pneumonia_2019,2,36.0,89,272.5,298.750000,226.00,320.25
21,pneumonia_2019,3,39.0,88,272.0,283.692308,214.50,312.50
22,pneumonia_2019,4,37.0,94,277.0,278.324324,247.00,302.00
23,pneumonia_2019,5,38.0,87,301.5,275.500000,235.00,325.25

In [12]:
# Region
compute_med_mean('med_mean_region', 'region')

,cohort,region,sick_note,population,median_duration,mean_duration,pct_25,pct_75
0,covid_2020,East,77.0,142,266.0,283.675325,221.00,314.00
1,covid_2020,East Midlands,83.0,128,270.0,282.734940,225.50,319.00
2,covid_2020,London,154.0,257,269.5,278.428571,214.25,334.25
3,covid_2020,North East,78.0,121,286.0,285.858974,246.25,318.25
4,covid_2020,North West,91.0,137,286.0,293.755556,235.25,329.25
5,covid_2020,South East,80.0,147,259.5,281.400000,214.50,315.00
6,covid_2020,South West,93.0,165,281.0,290.086022,230.00,339.00
7,covid_2020,West Midlands,78.0,138,277.5,293.564103,230.50,328.75
8,covid_2020,Yorkshire and The Humber,97.0,146,263.0,254.154639,209.00,309.00
9,general_2019,East,452.0,1005,274.5,273.856195,221.50,324.00
10,general_2019,East Midlands,427.0,998,271.0,281.512881,222.00,329.50
11,general_2019,London,973.0,2048,270.0,275.704008,227.00,321.00
12,general_2019,North East,493.0,1028,271.0,280.713996,221.00,330.00
13,general_2019,North West,431.0,977,274.0,277.648837,224.00,325.00
14,general_2019,South East,427.0,980,273.0,274.932084,227.00,318.00
15,general_2019,South West,472.0,1011,271.0,274.271186,224.75,315.00
16,general_2019,West Midlands,442.0,982,275.0,269.795918,221.00,318.00
17,general_2019,Yorkshire and The Humber,435.0,971,270.0,276.170115,226.00,317.50
18,general_2020,East,648.0,990,265.0,264.421947,218.00,307.00
19,general_2020,East Midlands,602.0,951,275.0,278.396007,226.00,318.00
20,general_2020,London,1298.0,2048,271.0,275.064865,222.00,322.00
21,general_2020,North East,582.0,928,272.0,272.599656,220.25,320.00
22,general_2020,North West,612.0,984,267.0,272.519608,226.00,314.00
23,general_2020,South East,614.0,986,272.0,276.421824,232.00,316.00
24,general_2020,South West,664.0,1040,274.0,280.942598,228.00,322.75
25,general_2020,West Midlands,655.0,1053,271.0,276.116031,221.00,322.00
26,general_2020,Yorkshire and The Humber,640.0,1020,270.5,280.500000,223.00,323.75
27,pneumonia_2019,East,19.0,45,302.0,284.842105,264.50,323.50
28,pneumonia_2019,East Midlands,18.0,51,246.0,292.055556,184.75,310.00
29,pneumonia_2019,London,38.0,92,274.0,294.324324,238.00,323.00
30,pneumonia_2019,North East,34.0,60,288.0,298.176471,227.00,363.00
31,pneumonia_2019,North West,24.0,43,256.5,248.291667,203.75,294.00
32,pneumonia_2019,South East,16.0,40,278.5,276.687500,248.00,297.25
33,pneumonia_2019,South West,13.0,31,272.0,278.615385,206.00,356.00
34,pneumonia_2019,West Midlands,16.0,47,255.5,234.375000,178.25,301.00
35,pneumonia_2019,Yorkshire and The Humber,15.0,48,283.0,251.866667,223.00,303.00