# describe_duration.ipynb

This notebook provides descriptive statistics (median and IQR) of the duration of sick notes associated with long COVID.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import seaborn as sns

from functools import reduce
from glob import glob

pd.options.mode.chained_assignment = None

## Import and Clean Data

In [2]:
# Read in and append input files
li = []

for file in glob('../output/cohorts/input*_with_duration.csv'):
    df_temp = pd.read_csv(file)
    # Creates date variable based on file name
    df_temp['cohort'] = file[24:-18]
    li.append(df_temp)
    
df_input = pd.concat(li, axis=0, ignore_index=False).reset_index(drop=True)

In [3]:
# Columns to subset
subset_cols = ['cohort','age_group','sex',
               'ethnicity','imd','region',
               'first_sick_note_duration']
df_clean = df_input[subset_cols]

In [4]:
# Function to create charts displaying median & IQR by demographics
df_clean['first_sick_note_duration'] = df_clean['first_sick_note_duration'].fillna(0)

_____

## Median & IQR

In [5]:
def compute_med_iqr(path, demo=''):
    if demo == '':
        df_med = df_clean.groupby(
            ['cohort'])[['first_sick_note_duration']].apply(np.median).reset_index()
        df_pct25 = df_clean.groupby(
            ['cohort'])[['first_sick_note_duration']].apply(lambda x: np.percentile(x,25)).reset_index()
        df_pct75 = df_clean.groupby(
            ['cohort'])[['first_sick_note_duration']].apply(lambda x: np.percentile(x,75)).reset_index()
        dfs = [df_med, df_pct25, df_pct75]
        df_out = reduce(
            lambda left,right: pd.merge(left,right,on='cohort'), dfs
        ).rename(columns={'0_x':'median','0_y':'pct25',0:'pct75'})
        df_out['iqr'] = df_out['pct75']-df_out['pct25']
    else:
        df_med = df_clean.groupby(
            ['cohort',demo])[['first_sick_note_duration']].apply(np.median).reset_index()
        df_pct25 = df_clean.groupby(
            ['cohort',demo])[['first_sick_note_duration']].apply(lambda x: np.percentile(x,25)).reset_index()
        df_pct75 = df_clean.groupby(
            ['cohort',demo])[['first_sick_note_duration']].apply(lambda x: np.percentile(x,75)).reset_index()
        dfs = [df_med, df_pct25, df_pct75]
        df_out = reduce(
            lambda left,right: pd.merge(left,right,on=['cohort',demo]), dfs
        ).rename(columns={'0_x':'median','0_y':'pct25',0:'pct75'})
        df_out['iqr'] = df_out['pct75']-df_out['pct25']
    df_out.to_csv('../output/tabfig/' + path + '.csv', index=False)
    return df_out

In [6]:
# Overall
compute_med_iqr('med_iqr_overall')

           cohort  median  pct25  pct75    iqr
0      covid_2020   262.0  199.0  312.0  113.0
1    general_2019   259.0  197.0  311.0  114.0
2    general_2020   262.0  199.0  315.0  116.0
3  pneumonia_2019   260.0  196.0  311.0  115.0

In [7]:
# Age group
compute_med_iqr('med_iqr_age_group', 'age_group')

            cohort age_group  median   pct25   pct75     iqr
0       covid_2020      0-17   264.0  200.00  310.00  110.00
1       covid_2020     18-24   261.0  191.00  315.00  124.00
2       covid_2020     25-34   260.0  204.50  314.00  109.50
3       covid_2020     35-44   266.0  195.00  315.75  120.75
4       covid_2020     45-54   261.0  201.25  311.00  109.75
5       covid_2020     55-69   265.0  197.00  316.75  119.75
6       covid_2020     70-79   260.0  200.75  305.00  104.25
7       covid_2020       80+   256.0  197.00  309.00  112.00
8     general_2019      0-17   261.0  196.50  313.25  116.75
9     general_2019     18-24   259.0  203.00  304.00  101.00
10    general_2019     25-34   257.0  184.00  311.00  127.00
11    general_2019     35-44   261.0  205.00  312.00  107.00
12    general_2019     45-54   257.0  198.00  309.25  111.25
13    general_2019     55-69   261.0  198.00  313.00  115.00
14    general_2019     70-79   262.0  200.50  313.50  113.00
15    general_2019       80+   258.0  195.00  307.00  112.00
16    general_2020      0-17   263.0  208.50  322.00  113.50
17    general_2020     18-24   259.0  184.00  314.75  130.75
18    general_2020     25-34   265.0  205.00  310.00  105.00
19    general_2020     35-44   261.0  195.00  317.00  122.00
20    general_2020     45-54   259.0  198.00  312.00  114.00
21    general_2020     55-69   264.0  198.00  313.00  115.00
22    general_2020     70-79   262.0  202.00  317.00  115.00
23    general_2020       80+   260.0  196.50  314.00  117.50
24  pneumonia_2019      0-17   260.0  200.25  315.00  114.75
25  pneumonia_2019     18-24   259.0  196.00  309.00  113.00
26  pneumonia_2019     25-34   260.5  197.00  313.00  116.00
27  pneumonia_2019     35-44   259.0  201.00  311.00  110.00
28  pneumonia_2019     45-54   263.0  198.00  314.00  116.00
29  pneumonia_2019     55-69   259.0  191.00  310.00  119.00
30  pneumonia_2019     70-79   257.5  191.25  308.00  116.75
31  pneumonia_2019       80+   264.0  198.25  313.00  114.75

In [8]:
# Sex
compute_med_iqr('med_iqr_sex', 'sex')

           cohort sex  median  pct25  pct75    iqr
0      covid_2020   F   262.0  199.0  312.0  113.0
1      covid_2020   M   261.0  198.0  313.0  115.0
2    general_2019   F   259.5  198.0  310.0  112.0
3    general_2019   M   259.0  196.0  311.0  115.0
4    general_2020   F   261.0  199.0  313.0  114.0
5    general_2020   M   263.0  199.0  316.0  117.0
6  pneumonia_2019   F   261.0  197.0  312.0  115.0
7  pneumonia_2019   M   260.0  194.0  311.0  117.0

In [9]:
# Ethnicity
compute_med_iqr('med_iqr_ethnicity', 'ethnicity')

            cohort  ethnicity  median   pct25   pct75     iqr
0       covid_2020        1.0   262.0  199.25  312.00  112.75
1       covid_2020        3.0   263.0  194.00  311.75  117.75
2       covid_2020        5.0   264.5  206.00  320.00  114.00
3     general_2019        1.0   258.0  194.00  309.00  115.00
4     general_2019        3.0   259.0  204.75  310.25  105.50
5     general_2019        5.0   257.0  196.00  309.50  113.50
6     general_2020        1.0   262.0  201.00  315.00  114.00
7     general_2020        3.0   268.5  202.00  320.00  118.00
8     general_2020        5.0   258.0  194.00  311.00  117.00
9   pneumonia_2019        1.0   260.0  196.00  311.00  115.00
10  pneumonia_2019        3.0   255.0  185.75  311.00  125.25
11  pneumonia_2019        5.0   262.0  195.00  312.50  117.50

In [10]:
# IMD
compute_med_iqr('med_iqr_imd', 'imd')

            cohort  imd  median   pct25   pct75     iqr
0       covid_2020    0   264.0  200.75  305.00  104.25
1       covid_2020    1   260.0  197.00  311.00  114.00
2       covid_2020    2   259.0  198.00  310.00  112.00
3       covid_2020    3   264.0  201.00  314.00  113.00
4       covid_2020    4   264.0  197.00  317.00  120.00
5       covid_2020    5   262.0  200.00  312.00  112.00
6     general_2019    0   261.0  198.50  310.00  111.50
7     general_2019    1   257.0  192.00  311.00  119.00
8     general_2019    2   259.0  193.25  311.00  117.75
9     general_2019    3   260.0  201.00  307.00  106.00
10    general_2019    4   262.0  203.00  311.00  108.00
11    general_2019    5   259.0  194.00  314.00  120.00
12    general_2020    0   265.0  206.50  317.25  110.75
13    general_2020    1   257.0  194.00  312.25  118.25
14    general_2020    2   263.0  201.00  314.25  113.25
15    general_2020    3   260.0  199.00  313.00  114.00
16    general_2020    4   264.0  198.50  315.00  116.50
17    general_2020    5   265.0  200.00  316.00  116.00
18  pneumonia_2019    0   252.0  193.00  313.00  120.00
19  pneumonia_2019    1   260.0  193.00  310.00  117.00
20  pneumonia_2019    2   263.0  197.00  314.00  117.00
21  pneumonia_2019    3   261.0  196.50  311.00  114.50
22  pneumonia_2019    4   260.0  196.00  311.00  115.00
23  pneumonia_2019    5   260.0  196.00  309.00  113.00

In [11]:
# Region
compute_med_iqr('med_iqr_region', 'region')

            cohort                    region  median   pct25   pct75     iqr
0       covid_2020                      East   257.0  184.00  303.00  119.00
1       covid_2020             East Midlands   261.0  196.00  309.00  113.00
2       covid_2020                    London   264.0  196.00  312.00  116.00
3       covid_2020                North East   261.0  203.00  314.00  111.00
4       covid_2020                North West   264.0  204.00  316.00  112.00
5       covid_2020                South East   257.0  191.00  310.00  119.00
6       covid_2020                South West   262.0  203.00  314.00  111.00
7       covid_2020             West Midlands   260.0  198.00  318.00  120.00
8       covid_2020  Yorkshire and The Humber   264.0  205.25  318.00  112.75
9     general_2019                      East   259.0  190.50  313.00  122.50
10    general_2019             East Midlands   263.0  202.00  312.00  110.00
11    general_2019                    London   258.0  194.75  309.00  114.25
12    general_2019                North East   260.0  190.00  317.00  127.00
13    general_2019                North West   261.0  198.00  316.00  118.00
14    general_2019                South East   255.0  191.00  306.00  115.00
15    general_2019                South West   264.0  201.50  313.00  111.50
16    general_2019             West Midlands   258.0  200.50  310.00  109.50
17    general_2019  Yorkshire and The Humber   256.5  203.00  304.00  101.00
18    general_2020                      East   262.0  197.75  317.25  119.50
19    general_2020             East Midlands   264.5  201.25  316.00  114.75
20    general_2020                    London   263.0  201.00  311.00  110.00
21    general_2020                North East   260.0  197.00  316.00  119.00
22    general_2020                North West   264.0  198.50  318.00  119.50
23    general_2020                South East   258.5  192.25  314.75  122.50
24    general_2020                South West   260.0  193.50  309.50  116.00
25    general_2020             West Midlands   262.0  195.00  311.00  116.00
26    general_2020  Yorkshire and The Humber   263.5  204.00  322.00  118.00
27  pneumonia_2019                      East   266.0  192.00  316.00  124.00
28  pneumonia_2019             East Midlands   257.0  200.00  310.75  110.75
29  pneumonia_2019                    London   262.0  200.00  312.00  112.00
30  pneumonia_2019                North East   259.0  197.25  303.75  106.50
31  pneumonia_2019                North West   261.0  197.00  313.00  116.00
32  pneumonia_2019                South East   256.0  195.25  310.00  114.75
33  pneumonia_2019                South West   258.0  187.50  308.00  120.50
34  pneumonia_2019             West Midlands   260.0  191.00  313.00  122.00
35  pneumonia_2019  Yorkshire and The Humber   261.0  194.00  312.00  118.00